body {
  margin: 0;
  font-family: monospace;
}

h1 h2,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
  font-weight: 800;
}

header,
section {
  padding: 50px;
}

header {
  background: #ffe600;
  color: #000;
}

.section__one {
  background: black;
  color: white;
}

/* button style starts */

.btn {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  text-decoration: none;
}

.btn__accent {
  background: #ffe600;
  color: #000;
}

.btn__accent:hover {
  background: white;
}

.btn__dark {
  background: #000;
  color: #fff;
}

.btn__dark:hover {
  background: #ffe600;
  color: black;
}
/* button style ends */
.section__two__link {
  color: black;
}
